<!DOCTYPE html>
<html>
  <head>
    <title>Play!</title>
    <%= javascript_include_tag 'global8ball_game/global8ball_game' %>
    <%= javascript_include_tag 'i18n' %>
    <%= javascript_include_tag 'translations' %>
    <%= javascript_include_tag 'game/init' %>
    <script type="text/javascript">
      window.addEventListener('load', window.initGlobal8Ball, false);
    </script>
    <style type="text/css">
      #da-game {
      height:600px;
      width:800px;
      }
    </style>
  </head>
  <body>

    <div id="da-game"></div>

  </body>
</html>
