<!DOCTYPE html>
<html>
<head>
  <title>Global8ball game</title>
  <%= stylesheet_link_tag    "global8ball_game/application", media: "all" %>
  <%= javascript_include_tag "global8ball_game/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
